h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}

p,
a {
  font-family: "Lato", sans-serif;
}

.cardBackground {
  background-color: #508991;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.background {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.center-element {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
