h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}

p,
a {
  font-family: "Lato", sans-serif;
}

.cardBackground {
  background-color: #508991;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
